.dataOutput {
  position: relative;
  min-height: 500px;
  width: 320px;
  text-align: center;
}

.dataOutput__button {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media screen and (max-width: 800px) {
  .dataOutput {
    width: 290px;
  }
}

@media screen and (max-width: 600px) {
  .dataOutput {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .dataOutput {
    width: 220px;
  }
}
@media screen and (max-width: 320px) {
  .dataOutput {
    width: 200px;
  }
}
